@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

header {
    background: black;
    padding:20px;
    color:white;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    height: 50px;
    width: 50px;
}

.nav-items {
    display:flex;
    margin: 0;
    align-items: center;
}

.nav-items li {
    list-style-type: none;
    margin-left: 35px;
}

.nav-items li a{
    text-decoration: none;
    color: inherit;
}

.body-container {
    color: black;
}

.index-btn{
    align-self: flex-start;
}

.btn {
    border-radius: 25px;
}

.whats-on-section {
    background-color: black;
    color: white;
    padding: 50px;
}

.hero-image{
    max-width: 100%;
    max-height: 100%;
}

.hero-image img{
    width:100%;
}

.grid-images img{
    max-width: 100%;
    max-height: 100%;
}


.hero-left{
    margin-right:20px;
    flex-direction: column;
}

.hero-left-index{
    margin-right:20px;
    flex-direction: column;
    justify-content: center;
}

.index-btn {
    align-self: flex-start;
}

.nav-bar-right{
    display:none;
}

.lines{
    background-color: white;
    width: 25px;
    height:2.5px;
    margin-top: 2.5px;
    position: absolute;
    display: none;
}
.hamburger:hover{
    cursor: pointer;
}

.comment-box {
    background-color: white;
    color: black;
    border-radius: 25px;
    padding: 20px;
}

.avatar{
    border-radius: 100%;
    width:30px;
    height:30px;
    background-color: grey;
    margin-right: 10px;
}

.event-details-btn{
    align-self: flex-start;
}

.comment-btn {
    margin: 10px 0 30px 20px;
}

.create-event-container {
    flex-direction: column;

}

.event-booking-btn {
    align-self: flex-start;
}

.create-event-submit {
    align-self: center;
}

.event-booking-image img{
    max-width: 100%;
}

.history-container {
    flex-direction: column;
}

@media screen and (max-width:992px){
    .hero-container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .hero-left{
        margin-top: 20px;
    }
    .nav-bar-right ul{
        display:none;
    }
    .navbar-container nav{
        position: absolute;
    }
    .navbar-container{
        align-items:center;
    }
    .lines {
        display: block;
        position: initial;
    }
    .event-details-btn{
        align-self: center;
    }
    .index-btn{
        align-self: center;
    }
    .information-box{
        flex-direction: column;
    }
    .event-booking-container {
        flex-direction: column-reverse;
    }
    .event-booking-image {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:767px ) {
    .index-hero-row{
        flex-direction: column-reverse;
    }
    .hero-image{
        margin-bottom: 20px;
    }
    .information-box{
        flex-direction: row;
    }
}

@media screen and (max-width:380px ) {
    .information-box {
        flex-direction: column;
    }
}
